# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.CSharpDrawing.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\MyProjects\Rider\CSharpDrawing\.idea\.idea.CSharpDrawing.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
