# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Laboratorium7-8.iml
# Datasource local storage ignored files
/../../../../../../../../:\MyProjects\Rider\CSharpDrawing\Laboratorium7-8\.idea\.idea.Laboratorium7-8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
